/* Global Rules */
:root {
  --main-color: #458ff6;
}
body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  overflow: hidden;
}
.specbtn {
  background-color: #fff;
  overflow: hidden;
  padding: 20px 30px;
  z-index: 2;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--main-color);
  font-weight: 700;
  transition: 0.5s;
  position: relative;
}
.specbtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--main-color);
  transition: 0.5s;
  z-index: -2;
  border-radius: 35px;
}
.specbtn:hover {
  color: #fff;
  border-color: white;
  background-color: rgba(255, 255, 255, 0);
}
.specbtn:hover::after {
  height: 200%;
  width: 200%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.special-heading {
  text-align: center;
}
.special-heading h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 30px 15px;
}
.special-heading h2::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  transition: 1s;
}
.special-heading h2:hover::after {
  width: 200px;
}
.special-heading p {
  font-weight: 400;
  color: #777;
  opacity: 0.6;
  margin-top: 20px;
  margin-bottom: 80px;
}
/* Small Screens */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/* Medium screens */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* Large screens */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* X-large screens */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* XX-large screens */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* Start header */
header {
  padding-top: 30px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 9999999999;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 38.4px;
}

header .container .logo {
  display: flex;
  position: relative;
  align-items: center;
}

header .logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); */
}
header .container .navbar {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
header .container .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
header .container .navbar ul li {
  padding: 0 10px;
}
header .container .navbar ul li a {
  color: #c1c1c1;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
header .fa-bars{
  font-size: 24px;
  display: none;
  width: 500px;
  cursor: pointer;
}

@media (max-width: 767px){
  header .container .navbar ul{
    display: none;
    transform: translateY(50px);
    position: absolute;
    background-color: white;
    bottom: -499%;
    right: 2px;
    padding: 10px;
    width: 183px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: 0.3s;
  }

  header .container .navbar ul li:not(:last-child){
    border-bottom: 1px solid #777;
  }
  header .container .navbar ul li a{
    padding: 10px;
  }
  header .fa-bars{
    display: block;
    width: fit-content;
  }
  /* header .fa-bars:hover + ul{
    display: block;
  } */
}
ul.active-ul{
  bottom: -456%;
  opacity: 1;
  display: block;
  transform: translateY(450px);
  transition: 0.3s;
}
header .container .navbar ul li a.active,
header .container .navbar ul li a:hover {
  color: black;
  font-weight: 700;
}
/* End header */
/* Start Home Section */
.home {
  padding-top: 100px;
  padding-bottom: 100px;
}
.home .container {
  display: flex;
  gap: 100px;
}

.home .container .info {
  flex: 3;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.home .container .info button {
  padding: 10px 35px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: var(--main-color);
  align-self: flex-start;
}
.home .container .info h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.home .container .info p {
  color: #777;
  margin-bottom: 30px;
  line-height: 1.5;
  word-spacing: 4px;
}

.home .container .image {
  flex: 2;
  display: flex;
  align-items: center;
}
.home img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .home .container {
    flex-direction: column;
    gap: 40px;
  }
  .home .container,
  .home .container .info {
    justify-content: center;
    text-align: center;
  }
  .home .container .info button {
    align-self: center;
  }
}
/* End Home Section */
/* Start Services section */
.ourServ {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.ourServ .fallback {
  position: absolute;
  background-color: #eef6fe;
  z-index: -1;
  top: 30%;
  transform: translateY(-50%);
  left: -250px;
  height: 278px;
  width: 1200px;
  border-radius: 38% 62% 69% 31% / 48% 52% 48% 52%;
}
.ourServ .fallback2 {
  position: absolute;
  background-color: #eef6fe;
  z-index: -1;
  top: 80%;
  transform: translateY(-50%);
  right: -250px;
  height: 278px;
  width: 1200px;
  border-radius: 38% 62% 69% 31% / 48% 52% 48% 52%;
}
.ourServ .container {
  display: flex;
  flex-direction: column;
}
.ourServ .container .card-container {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 70px;
}
.ourServ .container .card-container .card {
  background-color: #fff;
  padding: 60px 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  transition: 0.7s;
}
.ourServ .container .card-container .card:hover {
  transform: translateY(-20px);
}
.ourServ .container .card-container .card i {
  color: var(--main-color);
  font-size: 80px;
  margin-bottom: 20px;
  align-self: center;
}
.ourServ .container .card-container .card p {
  margin-top: 15px;
  font-weight: 300;
  color: #777;
}
.ourServ .container > button {
  align-self: center;

}
/* End Services section */
/* Start healthcare */
.health-care {
  padding-top: 50px;
  padding-bottom: 50px;
}
.health-care .container {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 991px) {
  .health-care .container {
    flex-direction: column;
    gap: 40px;}

}
.health-care .container .image {
  flex: 3;
  overflow: hidden;
}
.health-care img {
  max-width: 100%;
}
.health-care .info {
  flex: 2;
}
.health-care .info h2 {
  font-size: 32px;
  position: relative;
  margin-bottom: 30px;
}
.health-care .info h2::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 3px;
  width: 50px;
  background-color: #000;
  transition: 1s;
}
.health-care .info h2:hover::after {
  width: 200px;
}
.health-care .info p {
  font-weight: 300;
  color: #777;
  line-height: 1.7;
  word-spacing: 4px;
  margin-bottom: 30px;
}

/* End healthcare */
/* Start test */
.test{
  padding-top: 50px;
  padding-bottom: 50px;
}
.test .container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.test-cont{
  width: 100%;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  padding: 70px;
}
.test-cont  h2{
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
  position: relative;
}
.test-cont  h2::after{
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  height: 2px;
  width: 56px;
}
.test-cont .info{
  color: #fff;
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: space-evenly;
}
.test-cont .info .person{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 30px;
  padding-left: 70px;
}
.test-cont .info .person .image{
  border-radius: 50%;
  align-self: center;
  border: 3px solid #fff;
  overflow: hidden;
  width: 191px;
  height: 191px;
}
.test-cont .info .person .name h3{
  font-weight: 700;
}
.test-cont .info .person .name p{
  font-weight: 200;
}
.test-cont .info .person .image img{
  max-width: 100%;
}
.test-cont .info .paragraph{
  flex: 3;
}
@media(max-width: 991px){
  .test-cont .info{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .test-cont .paragraph{
    text-align: center;
  }
  .test-cont .info .person{
    margin-bottom: 50px;
    padding: 0;
  }
}
@media (max-width: 767px){
  .test-cont .info .person{
    flex-direction: column;
    text-align: center;

  }
}
.test .controls{
  display: flex;
  align-items: center;
  justify-content: center;
}
.test .controls .spans{
  display: flex;
  align-items: center;
}
.test .controls .spans span{
  background-color: #458ff68e;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.test .controls .spans span:not(:last-child){
  margin-right: 10px;
}
.test .controls .spans span.active{
  background-color: var(--main-color);
}
.test .controls .fa-arrow-left{
  color: var(--main-color);
  margin-right: 20px;
}
.test .controls .fa-arrow-right{
  color: var(--main-color);
  margin-left: 20px;
}
/* End test */
/* Start article */
.article{
  padding-top: 50px;
  padding-bottom: 50px;
}
.article .container{
  overflow: hidden;
}
.article .container .special-heading{
  margin-bottom: 100px;
}
.article .cards-cont{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}
.article .cards-cont .card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.article .cards-cont .card .image img{
  max-width: 100%;
}
.article .cards-cont .card .info{
  padding: 30px;
}
.article .cards-cont .card .info h3{
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 12px;
}
.article .cards-cont .card .info p{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #777;
  margin-bottom: 25px;
}
.article .cards-cont .card .info small{
  color: var(--main-color);
  display: flex;
  align-items: center;
}
.article .cards-cont .card .info small i{
  margin-left: 10px;
}
.article button{
  display: block;
  margin: 50px auto;
}
/* End article */
/* Start footer */
.footer{
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  padding: 120px;
  overflow: hidden;
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  color: white;
  grid-gap: 60px;
}
.footer .container .contact{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer .container .contact .logo{
  display: flex;
  align-items: center;
}
.footer .container .contact .logo span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  width: 41px;
  height: 41px;
  color: var(--main-color);
  border-radius: 50%;
}
.footer .container .list h3{
  margin-bottom: 45px;
}
.footer .container .list ul li{
  margin-bottom: 24px;
}
.footer .container .list ul li a{
  color: #fff;
}
/* End footer */